@using AntDesign
@inherits LayoutComponentBase
@inject INotificationService _notice
<Layout Style="min-height: 100vh; ">
    <NavMenu/>
    <Notification />
    <Layout Class="site-layout" >
        <Header Class="site-layout-background" Style="padding: 0;"><h3>MANAGE STUDENT DASHBOARD</h3></Header>
        <Notification/>
        <Content Style="margin:0 16px;" >
            <Breadcrumb Style="margin:16px 0;">
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>Manage Student</BreadcrumbItem>
            </Breadcrumb>
            @Body
        </Content>
        <Footer Style="text-align:center">Ant Design ©2018 Created by Ant UED</Footer>
    </Layout>
</Layout>


<style>
    

    .site-layout .site-layout-background {
        background: #fff;
        text-align:center;
    }

    .site-layout .site-layout-background h3{
        margin-top: 15px;
        font-weight: bold;
    }
</style>